body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  img {
    border-radius: 50%;
    margin: 20px 0;
  }
  
  h2 {
    color: #333;
    margin-top: 20px;
  }
  
  p {
    margin: 0.5em 0;
  }
  
  div {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  a {
    color: #0073e6;
    text-decoration: none;
    margin: 0 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  